body {
  background-color: lightgray;
}

.productcards {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.card {
  padding: 20px;
  margin: 20px;
  flex: 1 1 30%;
}

img {
  width: 200px;
  height: 275px;
}
